.body {
  overflow: visible;
  height: 100%;
  background-color: transparent;
}

.body.container {
  overflow: visible;
}

.body.container.survey {
  overflow: visible;
  background-color: #000;
}

.loader {
  position: relative;
  z-index: 999;
  display: none;
  height: 100vh;
  background-color: #ff3839;
}

.counter-wrapper {
  position: absolute;
  left: 5%;
  top: auto;
  right: 0%;
  bottom: 5%;
  z-index: 2;
}

.counter-number {
  font-family: 'Shapiro 95 super extd', sans-serif;
  color: #fff;
  font-size: 180px;
  line-height: 100%;
  font-weight: 400;
}

.loader-slide {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-color: #000;
}

.intro-content {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  position: relative;
  z-index: 5;
  font-family: 'Shapiro 97 air extd', sans-serif;
  color: #ff3839;
  font-size: 150px;
  line-height: 90%;
  text-align: center;
}

.sod-hero {
  position: relative;
  top: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sod-hero.section {
  z-index: auto;
  height: auto;
  padding-top: 140px;
  padding-bottom: 140px;
}

.sod-hero-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.txtb {
  font-family: 'Shapiro 75 extd', sans-serif;
  font-size: 2vw;
  text-align: center;
}

.heading-2 {
  position: relative;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-top: 40px;
  font-family: 'Shapiro 97 air extd', sans-serif;
  color: #ff3839;
  font-size: 11vw;
  line-height: 90%;
  font-weight: 400;
  text-align: center;
}

.heading-3 {
  font-family: 'Creattion demo', sans-serif;
  font-size: 4vw;
  text-align: center;
}

.text-span {
  font-family: 'Shapiro 95 super extd', sans-serif;
  color: #fff;
  font-size: 4vw;
  cursor: pointer;
}

.text-span:hover {
  color: #e5aaaa;
}

.scroll {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -38%;
  z-index: 12;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.title {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.intro_container {
  position: relative;
  display: block;
  overflow: visible;
  height: 100vh;
  padding: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.left-intro {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.paragraph {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: inline;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 3.5vw;
  line-height: 130%;
  font-weight: 300;
}

.design-disciplines {
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  font-family: 'Shapiro 97 air extd', sans-serif;
  color: #ff3939;
  font-size: 14vw;
  line-height: 85%;
  white-space: nowrap;
}

.disciplines {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.4;
}

.disciplines.leftj {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.image {
  position: absolute;
}

.illustration {
  position: relative;
  height: 110vh;
  padding-bottom: 0px;
  background-color: #000;
}

.text-block-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 12%;
  color: #fff;
  text-align: center;
}

.horizontal-scroll {
  display: block;
  overflow: visible;
  width: 100%;
  height: 300vw;
  padding: 0px;
  background-color: #000;
}

.text-block-3 {
  width: 60vw;
  margin-bottom: 0px;
  padding: 100px 100px 100px 140px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: 'Shapiro 75 extd', sans-serif;
  color: #fff;
  font-size: 6vw;
  line-height: 100%;
  font-weight: 900;
  text-align: left;
}

.div-block-4 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.div-block-5 {
  width: 60vw;
  height: 70vh;
  padding: 100px 60px 100px 100px;
  background-color: #131313;
}

.div-block-5.alt {
  height: 70vh;
  padding: 100px 60px 100px 100px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  background-color: #f83636;
}

.text-block-4 {
  font-family: 'Shapiro 45 welter extd', sans-serif;
  color: #fff;
  font-size: 4vw;
  line-height: 120%;
  font-weight: 900;
}

.text-block-4.adj {
  margin-top: 100px;
}

.text-block-4.adj.alt {
  color: #ff3939;
}

.text-block-4.alt {
  color: #ff3939;
  font-size: 3.5vw;
}

.text-span-2 {
  color: #ff3939;
}

.paragraph-2 {
  width: 90%;
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 1.5vw;
  line-height: 150%;
  font-weight: 300;
}

.paragraph-2.alt {
  color: #181818;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 0px 100px 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.footer.survey {
  overflow: visible;
  height: 300px;
  padding-top: 40px;
  padding-bottom: 0px;
  background-color: #000;
}

.button {
  position: relative;
  z-index: 10;
  padding: 20px;
  border-radius: 4px;
  background-color: #ff3939;
  font-family: 'Shapiro 45 welter extd', sans-serif;
  font-size: 18px;
}

.button:hover {
  background-color: #e00f0f;
}

.button.higlight {
  margin-left: 20px;
  border: 1px solid #fff;
  background-color: #000;
  opacity: 0;
}

.button.higlight:hover {
  background-color: #1b1b1b;
}

.button.higlight.left {
  margin-top: 20px;
  margin-left: 0px;
}

.text-block-5 {
  position: relative;
  width: 80%;
  padding: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-family: 'Shapiro 85 super extd', sans-serif;
  color: #fff;
  font-size: 3vw;
  line-height: 125%;
  font-weight: 900;
  text-align: center;
}

.div-block-7 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span-4 {
  color: #ff3939;
}

.text-block-6 {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 1.5vw;
  line-height: 160%;
  font-weight: 200;
  text-align: center;
}

.image-2 {
  position: relative;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100px;
  margin-top: 100px;
  text-align: right;
}

.image-2.sur {
  margin-top: 0px;
}

.div-block-10 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  text-align: left;
}

.link {
  color: #fff200;
}

.div-block-12 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-13 {
  width: 50%;
  padding: 100px;
}

.div-block-14 {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  width: 50%;
  padding: 100px;
}

.lottie-animation-3 {
  position: relative;
  left: 134px;
  width: 90px;
  margin-left: 40px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.camera {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: block;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-7 {
  position: relative;
  font-family: 'Shapiro 75 extd', sans-serif;
  color: #000;
  font-size: 5vw;
  line-height: 110%;
}

.bg-noise {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9;
  display: block;
  height: 100vh;
  background-image: url('../images/noiseBG-p-1600.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat-y;
  opacity: 0.1;
}

.illustration-container {
  background-color: #000;
}

.credits {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 11;
  margin: 40px;
  text-align: center;
}

.credits.survv {
  position: relative;
}

.credit {
  margin-right: 20px;
  font-family: 'Shapiro 45 welter extd', sans-serif;
  color: #ffd000;
}

.text-block-8 {
  margin-bottom: 10px;
  font-family: 'Shapiro 45 welter extd', sans-serif;
  color: #fff;
  text-align: center;
}

.survey {
  overflow: scroll;
  width: 100%;
  height: 100vh;
  padding-top: 0px;
  padding-bottom: 100px;
  background-color: #000;
}

.allow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: auto;
  padding-top: 45px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.container {
  overflow: hidden;
}

.mute {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 13;
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.lottie-animation-4 {
  position: relative;
  display: block;
  width: 28px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.musiccontainer {
  position: fixed;
  left: auto;
  top: auto;
  right: auto;
  bottom: 10%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  padding: 15px 10px 10px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px 4px 4px 0px;
  background-color: #ff3839;
  cursor: pointer;
}

.heading-5 {
  margin-top: 100px;
  font-family: 'Shapiro 75 extd', sans-serif;
  color: #ea3838;
  font-size: 100px;
  line-height: 100%;
  text-align: left;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 0px;
  padding-right: 140px;
  padding-left: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.heading-6 {
  padding-bottom: 20px;
  font-family: 'Creattion demo', sans-serif;
  color: #9e9e9e;
  font-size: 48px;
}

.link-2 {
  text-decoration: none;
}

.link-2:hover {
  color: #0bdd4d;
}

.paragraph-3 {
  width: 70%;
  margin-bottom: 60px;
  padding-top: 20px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 150%;
}

.reporth {
  position: relative;
  height: 100vh;
  padding: 100px 140px 140px;
  background-color: #000;
}

.heading-7 {
  font-family: 'Shapiro 85 super extd', sans-serif;
  color: #fff;
}

.paragraph-4 {
  width: 80%;
  margin-top: 40px;
  margin-bottom: 100px;
  padding-bottom: 40px;
  border-bottom: 1px solid #474747;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 200%;
}

.simplestats {
  position: relative;
  left: 0px;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 80%;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.counter-value {
  font-family: 'Shapiro 85 super extd', sans-serif;
  color: #ff3839;
  font-size: 65px;
  text-align: center;
}

.paragraph-5 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.section01 {
  position: relative;
  height: auto;
  margin-top: 220px;
  padding-top: 220px;
  padding-bottom: 140px;
  background-color: #000;
}

.div-block-18 {
  padding: 20px;
}

.div-block-19 {
  padding: 20px;
  border-right: 1px none #4e4e4e;
  border-left: 1px none #4e4e4e;
}

.div-block-20 {
  padding: 20px;
}

.count {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.paragraph-6 {
  margin-bottom: 40px;
  font-family: 'Shapiro 45 welter extd', sans-serif;
  color: #fff;
  font-size: 34px;
  font-weight: 400;
}

.paragraph-6.vm {
  display: none;
  line-height: 100%;
}

.div-block-22 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  margin-right: 60px;
  margin-left: 60px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #000;
}

.div-block-22.swap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: #000;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000;
}

.div-block-24 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.heading-9 {
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: 'Shapiro 75 extd', sans-serif;
  color: #fff;
  font-size: 61px;
  line-height: 120%;
}

.image-4 {
  position: relative;
  left: 0%;
  top: 10%;
  right: 0%;
  bottom: auto;
  display: block;
  width: auto;
  margin-top: 0px;
}

.text-block-10 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
}

.paragraph-7 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 150%;
}

.body-2 {
  background-color: #000;
}

.image-5 {
  position: relative;
  top: 5%;
  right: auto;
  bottom: auto;
  width: 48px;
  height: 48px;
}

.div-block-26 {
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
}

.categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.tab-title {
  font-family: 'Shapiro 55 middle extd', sans-serif;
  color: #fff;
}

.tab {
  padding: 20px 40px;
  background-color: #000;
}

.tab.w--current {
  padding: 20px 40px;
  background-color: #ff3839;
}

.chart {
  width: 500px;
  height: 500px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.chart.full {
  width: 1200px;
}

.tabs-content {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.data-flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.data-title {
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 200%;
}

.data-comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin-right: 60px;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span-5 {
  font-family: 'Shapiro 65 extd', sans-serif;
  color: #ff3839;
  font-size: 40px;
  line-height: 200%;
}

.image-7 {
  padding: 40px;
}

.section02 {
  margin-top: 60px;
  padding-top: 100px;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.section03 {
  margin-top: 140px;
  padding-top: 60px;
}

.section04 {
  margin-top: 220px;
}

.section05 {
  margin-top: 220px;
}

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 220px;
  padding: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #111;
}

.heading-10 {
  width: 70%;
  font-family: 'Shapiro 75 extd', sans-serif;
  color: #ff3839;
  font-size: 56px;
  line-height: 100%;
  text-align: center;
}

.paragraph-8 {
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
}

.text-block-11 {
  width: 65%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #fff307;
  font-weight: 400;
  text-align: center;
}

.heading-11 {
  font-family: 'Shapiro 85 super extd', sans-serif;
  color: #ff3839;
  font-size: 60px;
}

@media screen and (max-width: 991px) {
  .loader {
    position: relative;
    z-index: 100;
    display: none;
    height: 100%;
  }

  .heading {
    font-size: 16vw;
  }

  .sod-hero.section {
    background-color: #000;
  }

  .sod-hero-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .txtb {
    color: #fff;
    text-align: left;
  }

  .heading-2 {
    font-size: 13vw;
    text-align: center;
  }

  .heading-3 {
    color: #fff;
  }

  .text-span {
    color: #fff;
  }

  .intro_container {
    height: auto;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
  }

  .left-intro {
    height: auto;
  }

  .paragraph {
    left: 10%;
    top: 0%;
    padding-left: 0px;
    font-size: 3.5vw;
    line-height: 150%;
  }

  .illustration {
    height: 80vh;
  }

  .text-block-2 {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 14%;
  }

  .horizontal-scroll {
    height: auto;
  }

  .text-block-3 {
    width: auto;
    padding: 60px;
    font-size: 8vw;
    text-align: center;
  }

  .div-block-4 {
    width: auto;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .div-block-5 {
    width: 50%;
    height: 350px;
    padding: 60px 40px 40px;
  }

  .div-block-5.alt {
    height: 350px;
    padding: 60px 40px 40px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .paragraph-2 {
    width: 100%;
    font-size: 1.8vw;
  }

  .footer {
    padding: 0px 60px 220px;
  }

  .button {
    padding: 20px;
  }

  .button.higlight {
    margin-left: 20px;
    padding: 20px;
    font-size: 14px;
  }

  .div-block-10 {
    width: 60%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .div-block-13 {
    padding: 60px;
  }

  .div-block-14 {
    padding: 60px;
  }

  .camera {
    overflow: visible;
    width: auto;
    height: auto;
  }

  .frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .credits {
    width: 60%;
    margin-right: 60px;
    margin-left: 60px;
    text-align: center;
  }

  .credit {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .heading-5 {
    margin-top: 140px;
    font-size: 70px;
  }

  .hero {
    padding-right: 60px;
    padding-left: 60px;
  }

  .paragraph-3 {
    width: 90%;
    font-size: 30px;
  }

  .reporth {
    padding: 60px;
  }

  .heading-7 {
    font-size: 24px;
  }

  .paragraph-4 {
    width: 100%;
    font-size: 18px;
  }

  .simplestats {
    width: 100%;
  }

  .counter-value {
    font-size: 40px;
  }

  .paragraph-5 {
    font-size: 14px;
  }

  .section01 {
    padding-top: 0px;
  }

  .div-block-18 {
    padding-top: 0px;
  }

  .div-block-19 {
    padding-top: 0px;
  }

  .div-block-20 {
    padding-top: 0px;
  }

  .paragraph-6 {
    font-size: 28px;
    line-height: 100%;
  }

  .div-block-22 {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .div-block-22.swap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .heading-9 {
    margin-bottom: 40px;
    font-size: 58px;
  }

  .image-5 {
    width: 36px;
    height: 36px;
  }

  .div-block-26 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .tab {
    padding-right: 20px;
    padding-left: 20px;
  }

  .tab.hide {
    display: none;
  }

  .chart {
    width: 700px;
  }

  .chart.full {
    width: 700px;
  }

  .data-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .data-comment {
    width: 700px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .section02 {
    margin-top: 0px;
  }

  .navbar {
    padding-right: 60px;
    padding-left: 60px;
  }

  .cta {
    padding: 40px;
  }

  .div-block-27 {
    padding: 40px;
  }

  .heading-10 {
    width: 100%;
    font-size: 48px;
  }

  .paragraph-8 {
    width: 100%;
    font-size: 14px;
  }

  .text-block-11 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .body.container {
    overflow: hidden;
  }

  .sod-hero.section {
    padding-top: 140px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-5 {
    height: 350px;
  }

  .div-block-5.alt {
    padding: 60px 40px 20px;
  }

  .text-block-4.adj.alt {
    margin-top: 0px;
  }

  .footer {
    height: auto;
    padding: 0px 0px 40px;
  }

  .button {
    font-size: 16px;
  }

  .text-block-6 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 2.5vw;
  }

  .image-2 {
    position: relative;
    top: auto;
    bottom: auto;
    width: 80px;
    margin-top: 100px;
  }

  .div-block-10 {
    width: 70%;
  }

  .div-block-12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 0px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-14 {
    position: relative;
    top: 0px;
    width: 100%;
    padding: 60px 40px 40px;
  }

  .bg-noise {
    display: none;
    overflow: visible;
  }

  .item {
    width: 50%;
    margin-right: 40px;
    padding-right: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .credits {
    position: relative;
    width: 80%;
  }

  .heading-5 {
    font-size: 50px;
  }

  .hero {
    padding-right: 40px;
    padding-left: 40px;
  }

  .paragraph-3 {
    font-size: 24px;
  }

  .reporth {
    padding: 40px;
  }

  .counter-value {
    margin-bottom: 0px;
    font-size: 28px;
  }

  .section01 {
    margin-top: 140px;
  }

  .div-block-22 {
    margin-right: 20px;
    margin-left: 20px;
  }

  .div-block-23 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-9 {
    font-size: 48px;
  }

  .image-4 {
    padding: 0px;
  }

  .tab-title {
    font-size: 12px;
    text-align: center;
  }

  .chart {
    width: 100%;
  }

  .chart.full {
    position: relative;
    width: 100%;
  }

  .data-comment {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .navbar {
    padding: 20px;
  }

  .heading-10 {
    font-size: 30px;
  }

  .paragraph-8 {
    font-size: 12px;
  }

  .html-embed-3 {
    position: relative;
  }
}

@media screen and (max-width: 479px) {
  .body.container {
    overflow: hidden;
  }

  .sod-hero.section {
    height: auto;
    padding-top: 140px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .txtb {
    font-size: 4vw;
  }

  .heading-2 {
    margin-top: 20px;
    font-size: 16vw;
    line-height: 100%;
    text-align: center;
  }

  .heading-3 {
    margin-top: 0px;
  }

  .intro_container {
    height: auto;
    padding: 20px 20px 10px;
    text-align: center;
  }

  .left-intro {
    height: 100%;
  }

  .paragraph {
    position: relative;
    left: 0%;
    padding-right: 0px;
    font-size: 6vw;
    text-align: left;
  }

  .disciplines {
    display: none;
  }

  .image {
    display: none;
  }

  .illustration {
    display: none;
    height: 35vh;
  }

  .text-block-3 {
    padding: 100px 20px 60px;
    font-size: 4vh;
  }

  .div-block-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-5 {
    width: 100%;
    height: 400px;
  }

  .div-block-5.alt {
    height: 400px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .text-block-4 {
    font-size: 9vw;
  }

  .text-block-4.alt {
    font-size: 6vw;
  }

  .paragraph-2 {
    font-size: 4vw;
  }

  .footer {
    height: auto;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button {
    padding: 20px;
    font-size: 4vw;
  }

  .button.higlight {
    margin-top: 20px;
    margin-left: 0px;
  }

  .button.higlight.left {
    text-align: center;
  }

  .text-block-5 {
    width: 100%;
    font-size: 7vw;
  }

  .div-block-7 {
    width: 100%;
  }

  .text-block-6 {
    width: 100%;
    font-size: 4vw;
  }

  .image-2 {
    left: 0px;
    top: auto;
    width: 100px;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
  }

  .div-block-10 {
    position: relative;
    display: block;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .div-block-13 {
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .lottie-animation-3 {
    left: 84px;
    width: 64px;
    margin-top: 10px;
  }

  .text-block-7 {
    font-size: 9vw;
  }

  .bg-noise {
    display: block;
  }

  .item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .credits {
    position: relative;
    width: 100%;
    margin-top: 0px;
    padding: 10px 10px 10px 20px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .credit {
    font-family: 'Shapiro 45 welter extd', sans-serif;
    font-size: 12px;
  }

  .text-block-8 {
    font-size: 10px;
  }

  .heading-5 {
    font-size: 40px;
    text-align: center;
  }

  .hero {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-16 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .heading-6 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }

  .paragraph-3 {
    width: 100%;
    text-align: center;
  }

  .btn_group {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }

  .reporth {
    height: auto;
    margin-top: 100px;
    padding: 20px;
  }

  .paragraph-4 {
    font-size: 14px;
  }

  .section01 {
    display: none;
  }

  .count {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .paragraph-6 {
    line-height: 120%;
    text-align: center;
  }

  .paragraph-6.vm {
    display: block;
    margin-top: 100px;
    font-size: 24px;
  }

  .heading-9 {
    margin-top: 40px;
    font-size: 38px;
  }

  .paragraph-7 {
    font-size: 18px;
  }

  .section02 {
    display: none;
  }

  .section03 {
    display: none;
  }

  .section04 {
    display: none;
  }

  .section05 {
    display: none;
  }

  .cta {
    margin-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .div-block-27 {
    height: auto;
  }
}

@font-face {
  font-family: 'Shapiro 95 super extd';
  src: url('../fonts/Shapiro-95-Super-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 45 welter extd';
  src: url('../fonts/Shapiro-45-Welter-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 55 middle extd';
  src: url('../fonts/Shapiro-55-Middle-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 85 super extd';
  src: url('../fonts/Shapiro-85-Super-Heavy-Extd.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 65 extd';
  src: url('../fonts/Shapiro-65-Light-Heavy-Extd.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 75 extd';
  src: url('../fonts/Shapiro-75-Heavy-Extd.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 97 air extd';
  src: url('../fonts/Shapiro-97-Air-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 105 max extd';
  src: url('../fonts/Shapiro-105-Max-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 116 inclined extd';
  src: url('../fonts/Shapiro-116-Inclined-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 115 plus extd';
  src: url('../fonts/Shapiro-115-Plus-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Creattion demo';
  src: url('../fonts/Creattion-Demo.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}