.body {
  overflow: visible;
  height: 100%;
  background-color: transparent;
}

.body.container {
  overflow: hidden;
}

.loader {
  position: relative;
  display: none;
  height: 100vh;
  background-color: #ff3839;
}

.counter-wrapper {
  position: absolute;
  left: 5%;
  top: auto;
  right: 0%;
  bottom: 5%;
  z-index: 2;
}

.counter-number {
  font-family: 'Shapiro 95 super extd', sans-serif;
  color: #fff;
  font-size: 180px;
  line-height: 100%;
  font-weight: 400;
}

.loader-slide {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-color: #000;
}

.intro-content {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  position: relative;
  z-index: 5;
  font-family: 'Shapiro 97 air extd', sans-serif;
  color: #ff3839;
  font-size: 150px;
  line-height: 90%;
  text-align: center;
}

.sod-hero {
  position: relative;
  top: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sod-hero.section {
  z-index: auto;
  height: auto;
  padding-top: 140px;
  padding-bottom: 140px;
}

.sod-hero-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.txtb {
  font-family: 'Shapiro 75 extd', sans-serif;
  font-size: 2vw;
  text-align: center;
}

.heading-2 {
  position: relative;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-top: 40px;
  font-family: 'Shapiro 97 air extd', sans-serif;
  color: #ff3839;
  font-size: 11vw;
  line-height: 90%;
  font-weight: 400;
  text-align: center;
}

.heading-3 {
  font-family: 'Creattion demo', sans-serif;
  font-size: 4vw;
  text-align: center;
}

.text-span {
  font-family: 'Shapiro 95 super extd', sans-serif;
  color: #333;
  font-size: 4vw;
}

.lottie-animation {
  display: block;
  width: 250px;
  margin-top: 0px;
  text-align: center;
}

.scroll {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -38%;
  z-index: 12;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.title {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.heading-4 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-top: 40px;
  opacity: 0;
  font-family: 'Shapiro 95 super extd', sans-serif;
  color: #ff3839;
  font-size: 11vw;
  line-height: 90%;
  font-weight: 400;
}

.intro_container {
  position: relative;
  display: block;
  overflow: visible;
  height: 100vh;
  padding: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.left-intro {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.paragraph {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: inline;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 3.5vw;
  line-height: 130%;
  font-weight: 300;
}

.design-disciplines {
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  font-family: 'Shapiro 97 air extd', sans-serif;
  color: #ff3939;
  font-size: 14vw;
  line-height: 85%;
  white-space: nowrap;
}

.design-disciplines.adj {
  font-size: 13vw;
  white-space: nowrap;
}

.disciplines {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.4;
}

.disciplines.leftj {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.image {
  position: absolute;
}

.illustration {
  position: relative;
  height: 110vh;
  padding-bottom: 0px;
  background-color: #000;
}

.div-block-2 {
  height: 100vh;
  background-color: #000;
}

.text-block-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 12%;
  color: #fff;
  text-align: center;
}

.horizontal-scroll {
  display: block;
  overflow: visible;
  width: 100%;
  height: 300vw;
  padding: 0px;
  background-color: #000;
}

.text-block-3 {
  width: 60vw;
  margin-bottom: 0px;
  padding: 100px 100px 100px 140px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: 'Shapiro 75 extd', sans-serif;
  color: #fff;
  font-size: 6vw;
  line-height: 100%;
  font-weight: 900;
  text-align: left;
}

.text-block-3.cts {
  padding-bottom: 0px;
  font-size: 8vh;
  line-height: 120%;
  text-align: center;
}

.text-block-3.alt {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: #000;
  font-size: 5vw;
  line-height: 120%;
  text-align: left;
}

.div-block-4 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.div-block-5 {
  width: 60vw;
  height: 70vh;
  padding: 100px 60px 100px 100px;
  background-color: #131313;
}

.div-block-5.black {
  background-color: #f0f;
}

.div-block-5.red {
  background-color: #4e2edd;
}

.div-block-5.yelo {
  background-color: rgba(232, 248, 54, 0.08);
}

.div-block-5.alt {
  height: 70vh;
  padding: 100px 60px 100px 100px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  background-color: #f83636;
}

.div-block-5.alt.adj {
  padding-top: 220px;
  padding-bottom: 220px;
  background-color: #fff;
}

.div-block-5.altt {
  position: relative;
  top: 0px;
  padding-top: 220px;
  background-color: #fff;
}

.text-block-4 {
  font-family: 'Shapiro 45 welter extd', sans-serif;
  color: #fff;
  font-size: 4vw;
  line-height: 120%;
  font-weight: 900;
}

.text-block-4.adj {
  margin-top: 100px;
}

.text-block-4.adj.alt {
  color: #ff3939;
}

.text-block-4.alt {
  color: #ff3939;
  font-size: 3.5vw;
}

.text-span-2 {
  color: #ff3939;
}

.text-span-3 {
  color: #fff;
  font-size: 14vh;
  line-height: 100%;
}

.paragraph-2 {
  width: 90%;
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 1.5vw;
  line-height: 150%;
  font-weight: 300;
}

.paragraph-2.alt {
  color: #181818;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 140px 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.lottie-animation-2 {
  width: 90px;
}

.button {
  position: relative;
  z-index: 10;
  padding: 40px;
  border-radius: 4px;
  background-color: #ff3939;
  font-family: 'Shapiro 75 extd', sans-serif;
  font-size: 2vw;
}

.button:hover {
  background-color: #e00f0f;
}

.div-block-6 {
  background-color: #000;
}

.text-block-5 {
  position: relative;
  width: 70%;
  padding: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-family: 'Shapiro 85 super extd', sans-serif;
  color: #fff;
  font-size: 3vw;
  line-height: 125%;
  font-weight: 900;
  text-align: center;
}

.text-block-5.adj {
  position: absolute;
  left: auto;
  top: 52%;
  right: 19%;
  bottom: auto;
  font-size: 2vw;
  text-align: left;
}

.div-block-7 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span-4 {
  color: #ff3939;
}

.text-block-6 {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 1.5vw;
  line-height: 160%;
  font-weight: 200;
  text-align: center;
}

.div-block-8 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 550px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  position: relative;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100px;
  margin-top: 100px;
  text-align: right;
}

.div-block-10 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  text-align: left;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  color: #fff200;
}

.div-block-12 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-13 {
  width: 50%;
  padding: 100px;
}

.div-block-14 {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  width: 50%;
  padding: 100px;
}

.lottie {
  position: absolute;
  left: auto;
  top: auto;
  right: 20%;
  bottom: 0%;
}

.lottie.hero {
  left: auto;
  top: 0%;
  right: -40%;
  bottom: 0%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.lottie-animation-3 {
  position: relative;
  left: 134px;
  width: 90px;
  margin-left: 40px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.camera {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: block;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-7 {
  position: relative;
  font-family: 'Shapiro 75 extd', sans-serif;
  color: #000;
  font-size: 5vw;
  line-height: 110%;
}

.bg-noise {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9;
  display: block;
  height: 100vh;
  background-image: url('../images/noiseBG-p-1600.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat-y;
  opacity: 0.1;
}

.illustration-container {
  background-color: #000;
}

.credits {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 11;
  margin: 40px;
  text-align: center;
}

.credit {
  margin-right: 20px;
  font-family: 'Shapiro 45 welter extd', sans-serif;
  color: #ffd000;
}

.text-block-8 {
  margin-bottom: 10px;
  font-family: 'Shapiro 45 welter extd', sans-serif;
  color: #fff;
  text-align: center;
}

.music {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 11;
}

.survey {
  overflow: scroll;
  height: 100%;
  padding-top: 100px;
  background-color: #000;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.allow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: auto;
  padding-top: 45px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.container {
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .loader {
    position: relative;
    z-index: 100;
    display: none;
    height: 100%;
  }

  .heading {
    font-size: 16vw;
  }

  .sod-hero.section {
    background-color: #000;
  }

  .sod-hero-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .txtb {
    color: #fff;
    text-align: left;
  }

  .heading-2 {
    font-size: 13vw;
    text-align: center;
  }

  .heading-3 {
    color: #fff;
  }

  .text-span {
    color: #fff;
  }

  .heading-4 {
    font-size: 13vw;
    text-align: left;
  }

  .intro_container {
    height: auto;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
  }

  .left-intro {
    height: auto;
  }

  .paragraph {
    left: 10%;
    top: 0%;
    padding-left: 0px;
    font-size: 3.5vw;
    line-height: 150%;
  }

  .illustration {
    height: 80vh;
  }

  .text-block-2 {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 14%;
  }

  .horizontal-scroll {
    height: auto;
  }

  .text-block-3 {
    width: auto;
    padding: 60px;
    font-size: 8vw;
    text-align: center;
  }

  .text-block-3.alt {
    font-size: 5vh;
  }

  .div-block-4 {
    width: auto;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .div-block-5 {
    width: 50%;
    height: 350px;
    padding: 60px 40px 40px;
  }

  .div-block-5.alt {
    height: 350px;
    padding: 60px 40px 40px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .div-block-5.alt.adj {
    width: 50%;
    padding-top: 100px;
  }

  .div-block-5.altt {
    width: 50%;
    height: auto;
    padding-top: 100px;
  }

  .paragraph-2 {
    width: 100%;
    font-size: 1.8vw;
  }

  .footer {
    padding: 100px 60px 220px;
  }

  .button {
    padding: 20px;
  }

  .text-block-5.adj {
    left: 0%;
    top: 58%;
    right: auto;
    bottom: 0%;
  }

  .div-block-8 {
    width: 35%;
    height: 500px;
  }

  .div-block-9 {
    height: 1vh;
    background-color: #000;
    color: #000;
  }

  .div-block-10 {
    width: 60%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .div-block-13 {
    padding: 60px;
  }

  .div-block-14 {
    padding: 60px;
  }

  .lottie {
    right: 11%;
  }

  .camera {
    overflow: visible;
    width: auto;
    height: auto;
  }

  .frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .credits {
    width: 60%;
    margin-right: 60px;
    margin-left: 60px;
    text-align: center;
  }

  .credit {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .body.container {
    overflow: hidden;
  }

  .sod-hero.section {
    padding-top: 140px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-5 {
    height: 350px;
  }

  .div-block-5.alt {
    padding: 60px 40px 20px;
  }

  .text-block-4.adj.alt {
    margin-top: 0px;
  }

  .footer {
    height: auto;
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .text-block-6 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 2.5vw;
  }

  .image-2 {
    position: relative;
    top: auto;
    bottom: auto;
    width: 80px;
    margin-top: 100px;
  }

  .div-block-10 {
    width: 70%;
  }

  .div-block-12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 0px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-14 {
    position: relative;
    top: 0px;
    width: 100%;
    padding: 60px 40px 40px;
  }

  .bg-noise {
    display: none;
    overflow: visible;
  }

  .item {
    width: 50%;
    margin-right: 40px;
    padding-right: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .credits {
    position: relative;
    width: 80%;
  }
}

@media screen and (max-width: 479px) {
  .body.container {
    overflow: hidden;
  }

  .sod-hero.section {
    height: auto;
    padding-top: 140px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .txtb {
    font-size: 4vw;
  }

  .heading-2 {
    margin-top: 20px;
    font-size: 16vw;
    line-height: 100%;
    text-align: center;
  }

  .heading-3 {
    margin-top: 0px;
  }

  .lottie-animation {
    display: none;
    width: 150px;
  }

  .intro_container {
    height: auto;
    padding: 20px 20px 10px;
    text-align: center;
  }

  .left-intro {
    height: 100%;
  }

  .paragraph {
    position: relative;
    left: 0%;
    padding-right: 0px;
    font-size: 6vw;
    text-align: left;
  }

  .disciplines {
    display: none;
  }

  .image {
    display: none;
  }

  .illustration {
    display: none;
    height: 35vh;
  }

  .text-block-3 {
    padding: 100px 20px 60px;
    font-size: 4vh;
  }

  .div-block-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-5 {
    width: 100%;
    height: 400px;
  }

  .div-block-5.alt {
    height: 400px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .div-block-5.alt.adj {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 100px;
  }

  .div-block-5.altt {
    width: 100%;
    padding: 100px 20px 0px;
  }

  .text-block-4 {
    font-size: 9vw;
  }

  .text-block-4.alt {
    font-size: 6vw;
  }

  .paragraph-2 {
    font-size: 4vw;
  }

  .footer {
    height: auto;
    padding: 100px 20px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button {
    padding: 20px;
    font-size: 4vw;
  }

  .text-block-5 {
    width: 100%;
    font-size: 7vw;
  }

  .div-block-7 {
    width: 100%;
  }

  .text-block-6 {
    width: 100%;
    font-size: 4vw;
  }

  .div-block-8 {
    width: 100%;
    height: auto;
    margin-top: 307px;
  }

  .image-2 {
    left: 0px;
    top: auto;
    width: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
  }

  .div-block-10 {
    position: relative;
    display: block;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .div-block-13 {
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .lottie {
    right: -5%;
  }

  .lottie-animation-3 {
    left: 84px;
    width: 64px;
    margin-top: 10px;
  }

  .text-block-7 {
    font-size: 9vw;
  }

  .bg-noise {
    display: block;
  }

  .item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .credits {
    position: relative;
    width: 100%;
    margin-top: 0px;
    padding: 10px 10px 10px 20px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .credit {
    font-family: 'Shapiro 45 welter extd', sans-serif;
    font-size: 12px;
  }
}

@font-face {
  font-family: 'Shapiro 95 super extd';
  src: url('../fonts/Shapiro-95-Super-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 45 welter extd';
  src: url('../fonts/Shapiro-45-Welter-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 55 middle extd';
  src: url('../fonts/Shapiro-55-Middle-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 85 super extd';
  src: url('../fonts/Shapiro-85-Super-Heavy-Extd.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 65 extd';
  src: url('../fonts/Shapiro-65-Light-Heavy-Extd.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 75 extd';
  src: url('../fonts/Shapiro-75-Heavy-Extd.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 97 air extd';
  src: url('../fonts/Shapiro-97-Air-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 105 max extd';
  src: url('../fonts/Shapiro-105-Max-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 116 inclined extd';
  src: url('../fonts/Shapiro-116-Inclined-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shapiro 115 plus extd';
  src: url('../fonts/Shapiro-115-Plus-Extd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Creattion demo';
  src: url('../fonts/Creattion-Demo.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}